:root{
    --primery-text-color: #212121;
    --white-color: #FFFFFF;
    --logo-text-color: #000000;
    --accent-color: #2196F3;
    --secondary-text-color: #757575;
    --secondary-bg-color: #2F303A;
    --contact-color: rgba(255, 255, 255, 0.6);
    --bg-port-button-secondary: #F5F4FA;
    --bg-team-section-color: #F5F4FA;
    --bg-button-color: #188CE8;
}
.list{
    list-style: none;
} 

body{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: var(--primery-text-color);
    background-color: var(--white-color);
    line-height: 1.2;
}

/* header */
.logo{
    font-family: Raleway, raleway;
    font-weight: 700;
    font-size: 26px;
    color: var(--accent-color);
    text-decoration: none;
}

.header-span{
    color: var(--logo-text-color);
}
.logo-span{
    color: var(--logo-text-color);
}

.link {
    color: inherit;
    text-decoration: none;
}

.site-nav{
    font-weight: 500;
    color: var(-primery-text-color);
    letter-spacing: 0.02em;
}

.info-nav{
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.info-nav .link:hover,
.info-nav .link:focus{
    color: var(--accent-color);
}
.current{
    color: var(--accent-color);
}

/* hero */
.hero{
    background-color: var(--secondary-bg-color);
}

.hero-title{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    color: var(--white-color);
    text-transform: uppercase;
    text-align: center;
}

.button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: var(--white-color);
    background-color: var(--bg-button-color);
    cursor: pointer;
}

.button:hover,
.button:focus{
    color: var(--accent-color);
    background-color: var(--white-color);
}


/* portfolio */


.portfolio-button{
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}

.portfolio-button-secondary{
    cursor: pointer;
    font-family: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.03em;
}
.portfolio-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white-color);
    background-color: var(--accent-color);
}
.portfolio-button-secondary{
    width: 125px;
    height: 38px;
    color: var(--primery-text-color);
    background-color: var(--bg-port-button-secondary);
}
.portfolio-button-secondary:hover,
.portfolio-button-secondary:focus{
    background-color: var(--accent-color);
    color: var(--white-color);
}
/* work */
.work-list-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primery-text-color);
}
.work-list-text{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}


/* features */
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.features-list-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-text{
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.doing-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

/* team */

.team{
    background-color: var(--bg-team-section-color);
}
.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
}

.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.team-text{
    font-size: 16px;
    line-height: 1.18;
    color: var(--secondary-text-color);
    text-align: center;
}
.team-list-box{
    background-color: var(--white-color);

}

/* footer */
.footer{
    background-color: var(--secondary-bg-color);
}

.logo-span{
    color: var(--white-color);
}
.link-adress{
    font-family: inherit;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--white-color);
    text-decoration: none;
}
.contact{
    font-family: inherit;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--contact-color);
    text-decoration: none;
}

.footer-list{
    font-style: normal;
}
